<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="{{PROJECT_NAME}}" packages="" status="ERROR">
	<!-- Properties to insert below -->
	<Properties>
		<Property name="stackTraceFilters">
			java,
			jdk,
			sun,
			org.springframework,
			org.apache
		</Property>
	</Properties>
	<!-- Logging output -->
	<Appenders>
		<!--
			File with auto-archiving (see <https://logging.apache.org/log4j/2.x/manual/appenders.html#RollingFileAppender>)
			For substitutions, see <https://logging.apache.org/log4j/2.x/manual/configuration.html#PropertySubstitution>
		-->
		<RollingFile name="RollingFile" fileName="${jndi:logDirectory}/{{PROJECT_NAME}}.log" filePattern="${jndi:logDirectory}/{{PROJECT_NAME}}-%d.log.gz">
			<!-- Entry format (see <https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout>) -->
			<PatternLayout pattern="%d | %-5level (%c{3.}) | %msg{nolookups}%rThrowable{10,filters(${stackTraceFilters})}%n"/>
			<!-- Conditions to archive -->
			<Policies>
				<SizeBasedTriggeringPolicy size="50 MB" />
				<TimeBasedTriggeringPolicy />
			</Policies>
			<!-- Conditions to delete -->
			<DefaultRolloverStrategy max="20"/>
		</RollingFile>
	</Appenders>
	<!-- Logging input -->
	<Loggers>
		<!-- Custom logger -->
		<Logger name="com.cowlickcars.services" level="DEBUG" />
		<!-- Parent of all loggers -->
		<Root level="ERROR">
			<AppenderRef ref="RollingFile"/>
		</Root>
	</Loggers>
</Configuration>