<?xml version="1.0" encoding="UTF-8"?>
<Configuration strict="true"
			   xmlns="http://logging.apache.org/log4j/2.0/config"
			   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			   xsi:schemaLocation="http://logging.apache.org/log4j/2.0/config http://logging.apache.org/log4j/2.0/config/Log4j-config.xsd"
			   status="WARN">
	<!-- Placeholder fillings -->
	<Properties>
		<Property name="stackTraceFilters">
			org.springframework,
			org.apache,
			java,
			jdk
		</Property>
	</Properties>
	<!-- Logging output -->
	<Appenders>
		<!-- Console stdout -->
		<Console name="StdOut" target="SYSTEM_OUT">
			<!-- See <https://logging.apache.org/log4j/2.x/manual/layouts.html#PatternLayout> -->
			<PatternLayout pattern="%d | %-5level (%c{3.})[{{PROJECT_NAME}}] | %msg{nolookups}%rThrowable{10,filters(${stackTraceFilters})}%n"/>
		</Console>
		<!-- For log file location, see <https://logging.apache.org/log4j/2.x/manual/configuration.html#PropertySubstitution> -->
	</Appenders>
	<!-- Logging input -->
	<Loggers>
		<!-- Custom logger -->
		<Logger name="com.cowlickcars.services" level="DEBUG" />
		<!-- Parent of all loggers -->
		<Root level="ERROR">
			<AppenderRef ref="StdOut"/>
		</Root>
	</Loggers>
</Configuration>