<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
	   xmlns:jee="http://www.springframework.org/schema/jee"
	   xmlns:sec="http://www.springframework.org/schema/security"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation=
		   		"http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
				http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
				http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
				http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
	<!-- Find components -->
	<context:component-scan base-package="com.cowlickcars.services" />
	<!-- Enable control by MVC annotations -->
	<mvc:annotation-driven />

	<!-- Bind database from container -->
	<jee:jndi-lookup id="dataSource" jndi-name="jdbc/cowlick-cars" expected-type="javax.sql.DataSource" />
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg ref="dataSource" />
	</bean>

	<!-- Bind authorization by database -->
	<sec:authentication-manager>
		<sec:authentication-provider>
			<!-- For password encoding, see <https://docs.spring.io/spring-security/site/docs/current/reference/htmlsingle/#pe-dpe> -->
			<sec:jdbc-user-service data-source-ref="dataSource"
								   users-by-username-query="SELECT username,password,enabled FROM auth.users WHERE username=?"
								   authorities-by-username-query="SELECT username,rolename AS authority FROM auth.user_role_mapping WHERE username=?"
			/>
		</sec:authentication-provider>
	</sec:authentication-manager>
	<bean id="forbiddenEntryPoint" class="org.springframework.security.web.authentication.Http403ForbiddenEntryPoint" />
	<sec:http use-expressions="true" entry-point-ref="forbiddenEntryPoint">
		<!-- Allow external access -->
		<sec:csrf disabled="true" />
		<!-- Fetch on /login with post method & UrlSearchParams body -->
		<sec:form-login />
		<!-- Fetch on /logout with post method -->
		<sec:logout />
		<!-- For access expressions, see <https://docs.spring.io/spring-security/site/docs/5.0.x/reference/htmlsingle/#el-common-built-in> -->
		<sec:intercept-url pattern="/login" access="permitAll" />
		<sec:intercept-url pattern="/*" access="isAuthenticated()" />
		<!-- Limit session control -->
		<sec:session-management>
			<sec:concurrency-control max-sessions="1" />
		</sec:session-management>
	</sec:http>
</beans>