/* Constants */
$devicons-font-folder: 'assets/fonts/devicons/';

/* Register fonts */
@font-face {
    font-family: 'devicons';
    src: url($devicons-font-folder + 'devicons.ttf') format('truetype'),
      url($devicons-font-folder + 'devicons.woff') format('woff'),
      url($devicons-font-folder + 'devicons.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}